{{ "<!-- OVERVIEW -->" | safeHTML }}
<section id="acharya" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.acharya.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
					<div class="col-lg-4"></div>
					<div class="col-lg-4 col-md-12 text-left">
						<h3 class="section-heading text-center">{{ with .Site.Params.acharya.astro.title }}{{ . | markdownify }}{{ end }}</h3>
						<!-- p><img src="img/acharya/acharya.jpg" class="img-responsive" alt=""></p><br/ -->
						<p>{{ with .Site.Params.acharya.astro.text }}{{ . | markdownify }}{{ end }}</p>
					</div>
					<div class="col-lg-4"></div>
        </div>
    </div>
</section>

