{{ "<!-- OVERVIEW -->" | safeHTML }}
<section id="intro" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.intro.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
            </div>
            <div class="col-lg-2 col-md-2 center"></div>
            <div class="col-lg-3 col-md-3 col-sm-4 text-center">
                <p><img src="../img/profile.jpg" class="img-responsive" alt="Krupa Sinroja Dalal">
            </div>
           <div class="col-lg-5 col-md-5 col-sm-8 text-left">
               <p>{{ with .Site.Params.intro.text }}{{ . | markdownify }}{{ end }}</p>
           </div>
        </div>
        <div class="row">
        </div>
    </div>
</section>

