{{ "<!-- OVERVIEW -->" | safeHTML }}
<section id="vastu" class="bg-dark">
    <div class="container">
        <div class="row">
					<div class="col-lg-2 text-center"></div>
					<div class="col-lg-8 text-center">
							<h2 class="section-heading">{{ with .Site.Params.vastu.headline }}{{ . }}{{ end }}</h2>
							<hr class="primary">
							<h4>{{ with .Site.Params.vastu.title }}{{ . | markdownify }}{{ end }}</h4>
							<div class="text-left">
								<p>{{ with .Site.Params.vastu.description }}{{ . | markdownify }}{{ end }}</p><br/>
								<p>{{ with .Site.Params.vastu.text }}{{ . | markdownify }}{{ end }}</p>
							</div>
					</div>
					<div class="col-lg-2 text-center"></div>
        </div>
    </div>
</section>

